.navLink {
  color: #3f51b5;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-decoration: none;
}
.navLinkActive {
  text-decoration: underline;
  color: #303f9f;
}

.navLink:not(:last-child) {
  margin-right: 7px;
}

@media screen and (min-width: 768px) {
  .navLink {
    font-size: 1.2rem;
  }
  .navLink:not(:last-child) {
    margin-right: 15px;
  }
}
