
.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
 
}

.contactItemName {
margin-right: 5px;
text-align: start;
}
