.contactItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;

  border-radius: 3px;

  background-color: rgba(255, 255, 255, 0.308);
}

.contactItemName {
  margin-right: 5px;
  text-align: start;
}
