.App {
  height: 100vh;
  text-align: center;
  background-image: url("./images/watercolour-4117017.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contentWrapper {
  height: 100%;
  margin: 70px auto auto auto;
  padding-top: 30px;
}
